:root{
    --color1:#00c3da;
}




.title h2{
    font-size: 38px;
    font-weight: 700;
    bottom: 8%;
}
.title h3{
    font-size: 100px;
    opacity: .5;

}

.carousel-item .content-cor{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    bottom: 50%;
    width: 100%;
    
    z-index: 999;
}
.carousel-item .content-cor h1{
    font-size: 100px;
    color: white;
    font-weight: 700;
    animation: scel 1s .4s ;
    transform:scale(1);
    
}
@keyframes scel{
    0%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
.carousel-item .content-cor p{
    color: white;
    font-size: 18px;
    animation: scel 1s 0.5s;
    transform:scale(1);

}
.carousel-item .content-cor a{
    animation: scel 1s 1s;
    transform:scale(1);
    overflow: hidden;
}
.carousel-item .content-cor a::before{
    content: "";
    height: 160%;
    width: 40px;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    transition: all .5s;
}
.carousel-item .content-cor a:hover::before{
    transform: translateX(230px) rotate(20deg);
}
.carousel-item{
    position: relative;
  z-index: 1;
    
}
.layer-nav{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 9;
}
.nex2{
    left: 0 !important;
    top: 24% !important;
    bottom: initial;
    height: 60px !important;
    width: 60px !important;
    border: 2px solid white !important;
    z-index: 999 !important;  
}


.nex2::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    right:120%;
    transition: all 0.5s ease;
    z-index: -1;
    
}
.nex2:hover::after{
    right:0%; 
}
.nex2:hover{
    color: black;
}
.pre1{
    top: 30% !important;
    bottom: initial !important;
    height: 60px !important;
    width:60px !important;
    border: 2px solid white !important;
   
}
.pre1::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    right:120%;
    transition: all .5s ease;
    z-index: -1;
}
.pre1:hover::after{
    right:0%;
}
.pre1:hover{
    color: black;
}

.icon-nav{
    border-left: 1px solid white;
    height: 60px;
    display: flex;
    align-items: center;
}




/* 2 */

.prog-sec2::before{
    content: '';
    color: teal;
    animation:  typing 5s ease infinite alternate;
}
.sec2-content{
    width: 100%;
}


@keyframes typing{
    0%{
        content: "|";
    }
    5%{
        content: "a|";
    }
    10%{
        content: "ap|";
    }
    15%{
        content: "app|";
    }
    30%{
        content: "apps|";
    }
    35%{
        content: 'app|';
    }
    40%{
        content: 'ap|';
    }
    45%{
        content: 'a|';
    }
    50%{
        content: '|';
    }
   55%{
        content: 'w|';
    }
    60%{
        content: 'we|';
    }
    65%{
        content: 'web|';
    }
    70%{
        content: 'webs|';
    }
    75%{
        content: 'websi|';
    }
    80%{
        content: 'websit|';
    }
    85%{
        content: 'website|';
    }
    85%{
        content: 'websites|';
    }
    90%{
        content: 'websi|'; 
    }
    95%{
        content: 'we|'; 
    }
    100%{
        content: '|'; 
    }
    


}




/* 3 */
.img-sec3{
    position: relative;
    overflow: hidden;

}
.img-sec3:hover .layer-sec3{
    top: 0;
    opacity: 1;
}
.layer-sec3{
    background-color: rgba(0, 195, 218, 0.9);
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .5s ease;
    opacity: 0;
}

.layer-content-top ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
   color: white;
   
}
.layer-content-down h4{
    color: white;
   padding-top: 70%;
   padding-left: 40px;
   font-size: 16px;
}
.layer-content-down p{
    color: white;
   
   padding-left: 40px;
   font-size: 16px;
}

/* 4 */
.section4{
    background-color:#636363 ;
}

/* 5 */
.sec5-card{
    padding: 30px;
     overflow: hidden;
}
.sec5-card:hover{
    box-shadow: 6px 3px 13px 0px #88887f9c!important;
    transition: all 0.5s ease;
}

.sec5-card h2{
    font-size: 60px !important;
}
.sec5-menu ul li{
    list-style: none;
    padding-top: 30px;
   
}
.Sign-Up{
    padding: 10px 30px;
   
    
}
.Sign-Up:hover{
    box-shadow: 5px 5px 13px 0px #88887f;
    

    padding: 12px 30px;
    transition: all 0.5s ease;
}

.Sign-Up::before{
    content: "";
    height: 160%;
    width: 40px;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    transition: all .5s 1s;
    
}
.Sign-Up:hover::before{
    transform: translateX(230px) rotate(20deg);
}



/* 6 */

.card-sec6{
    background-color: white;
    box-shadow: 5px 5px 13px 0px #88887f;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;

}

.sec6-left,.sec6-right{
    color: black !important;
}
.sec6-left:hover,.sec6-right:hover{
    color: var(--color1) !important;
    font-size: 20px;
    transition: all .5s ease;
}
.ind [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color1);
}




/* 7 */
iframe{
    width: 100%;
    height: 100%;
}





@media all and (min-width: 1024px) and (max-width: 1280px) { 

/* 1 */
.nex2{
    left: 0 !important;
    top: 50% !important;
    bottom: initial;
    height: 60px !important;
    width: 60px !important;
    border: 2px solid white !important;
    z-index: 999 !important;  
}
.pre1{
    top: 41% !important;
    bottom: initial !important;
    height: 60px !important;
    width:60px !important;
    border: 2px solid white !important;
   
}

    /* 5 */
    .Sign-Up{
        padding: 5px 23px;
    }
    .Sign-Up:hover{
        box-shadow: 5px 5px 13px 0px #88887f;
        
    
        padding: 6px 24px;
        transition: all 0.5s ease;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) { 
    
    /* 1 */

    .nex2{
        left: 0 !important;
        top: 50% !important;
        bottom: initial;
        height: 60px !important;
        width: 60px !important;
        border: 2px solid white !important;
        z-index: 999 !important;  
    }
    .pre1{
        top: 41% !important;
        bottom: initial !important;
        height: 60px !important;
        width:60px !important;
        border: 2px solid white !important;
       
    }

    /* 1 */
        /* 2 */
        .sec2-content h6{
            font-size: 30px !important;
        }
        .sec2-content p{
            width: 100% !important;
            margin: auto;
            padding-bottom: 30px;
            font-size: 40px !important;
            
        }
        .sec2-content a{
            padding: 20px 40px;
            font-size: 20px;
        }
    
    /* 4 */

    .sec4-text p{
        font-size: 16px !important;
        text-align: center;
        
    }
    .prog-sec4 p{
        font-size: 25px ;
        
    }
    


}

@media all and (min-width: 480px) and (max-width: 768px) { 
 




    /* 1 */
    .carousel-item .content-cor h1{
        font-size: 40PX;     
        color: white;
        font-weight: 700;
    }
    .carousel-item .content-cor P{
        color: white;
        font-size: 13px;

    }
    .carousel-item .content-cor a{
        padding: 10PX 14PX;
    }

    .carousel-item {
        height: 100VH;
    }
    .carousel-item img{
        height:100%;
    }
    .nex2{
        left: 0 !important;
        top: 50% !important;
        bottom: initial;
        height: 60px !important;
        width: 60px !important;
        border: 2px solid white !important;
        z-index: 999 !important;  
    }
    .pre1{
        top: 41% !important;
        bottom: initial !important;
        height: 60px !important;
        width:60px !important;
        border: 2px solid white !important;
       
    }




    /* 1 */


        /* 6 */
        .ind [data-bs-target] {
            margin-bottom: 90%;
            width: 30px;
            height: 30px;
        }
        .sec6-left,.sec6-right{
            color: black !important;
            display: none;
        }
    /* 7 */

    iframe{
        width: 100%;
        height: 500px;
    }

}
@media all and (max-width: 480px) { 
    /* 1 */
    .carousel-item .content-cor h1{
        font-size: 40PX;     
        color: white;
        font-weight: 700;
    }
    .carousel-item .content-cor P{
        color: white;
        font-size: 13px;

    }
    .carousel-item .content-cor a{
        padding: 10PX 14PX;
    }

    .carousel-item {
        height: 100VH;
    }
    .carousel-item img{
        height:100%;
    }
    .nex2{
        left: 0 !important;
        top: 50% !important;
        bottom: initial;
        height: 60px !important;
        width: 60px !important;
        border: 2px solid white !important;
        z-index: 999 !important;  
    }
    .pre1{
        top: 41% !important;
        bottom: initial !important;
        height: 60px !important;
        width:60px !important;
        border: 2px solid white !important;
       
    }






    /* 1 */

    /* 2 */
    .sec2-content p{
        width: 100% !important;
        margin: auto;
        
    }
    
    
    
    
    
    
    .prog-sec4{
        text-align: center;
    }
    .title-sec4{
        justify-content:center !important; 
    }




   
    iframe{
        width: 100%;
        height: 500px;
    }

    /* 6 */
    .ind [data-bs-target] {
        margin-bottom: 90%;
        width: 30px;
        height: 30px;
    }
    .sec6-left,.sec6-right{
        color: black !important;
        display: none;
    }
    .card-sec6{
        width: 90%;
    }
}























